body{
    font-family: 'EB Garamond', serif;                             
}

header{
    background-color: #404f56;
}
#LogoUniversidad{
    width: 30%;
}
.encabezado{
    width: 940px;
    display: flex;
    margin: 0 auto;
    color: #ffffff;
    position: relative;
}
#Titulo{
    flex-grow:1;
    text-align:center;
    margin: auto 40px;
}

.NombreYinfo{
    text-align: center;
    width: 940px;
    margin: 0 auto;
    
}
.NombreYinfo h2{
    font-weight: bolder;
    font-size: 17px;
}

.DeporteFavorito{
    width: 940px;
    margin: 0 auto;
}

.DeporteFavorito h2{
    font-weight: bolder;
    font-size: 17px;
}

#DeporteElegido{
    text-align: center;
}

#EquiposBasket{
    text-align: center;
}

#InfoBasket h1{
    text-align: center;
}
#InfoBasket h2{
    text-align: justify;
}

#JugadorBasketBron{
    width: 60%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#EquiposBasket img{
    width: 60%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Jugadores{
    width: 300px;
	height: 200px;
	object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    left: 10%;
}


#EquiposBasket h1{
    margin-top: 30px;
    margin-bottom: 0px;
}

#EquiposBasket li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 2%;
}
#JugadoresEstelares h4{
    text-align: justify;
    width: auto;
    height: 170px;
}

#JugadoresEstelares h1, h2{
    text-align: center;
}

#JugadoresEstelares li{
    display: inline-block;
    width: 40%;
    padding: 0 10px;
}